* {
  font-family: sans-serif;
  margin: 0;
}

#main {
  background: #ffd23f; /* Sunglow */
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: auto;
}

#header {
  background: #3bceac; /* Caribbean Green */
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}

#header-image {
  display: grid;
  justify-content: center;
  align-items: center;
}

#header-img {
  padding: 5px;
  width: 200px;
}

#nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.nav-item {
  background: #ee4266; /* Paradise Pink */
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  background: #0ead69; /* GO Green */
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

#about {
  background: #540d6e; /* Blue Violet Color Wheel */
  color: white;
  padding: 10px;
}

@media (max-width: 800px) {
  #header {
    grid-template-columns: 3fr 1fr;
  }

  #header-img {
    width: 250px;
  }

  #nav-bar {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }

  .nav-item {
    padding: 5px;
  }
}
